.header {
  margin: 30px 0;
  display: flex;
}

.header_title {
  font-family: Preahvihear;
  color: #bf91f9;
  font-size: 24px;
}

.header_menu {
  display: flex;
  justify-content: end;
}

.header_menu_list {
  display: flex;
  list-style: none;
  gap: 50px;
}

.header_menu_list li {
  color: #c4c4c4;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s;
}

.header_menu_list li:hover {
  color: #e5dfdf;
  transform: scale(0.96);
  transition: 0.2s;
}
